<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supcon.mes.module_main">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.WaitDealtActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.MineActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.EamDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ui.AnomalyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
    </application>
</manifest>
